/* eXtra eXtra small devices (iPhone3/4)  */

.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block,
.visible-xxs-table {
  display: none !important;
}

@media only screen and (max-width: 480px) {
    .hidden-xxs {
        display:none !important;
    }
    
    .visible-xxs-inline {
	    display: inline !important;
	}
	
	.visible-xxs-block {
        display: block !important;
    }
    
    .visible-xxs-inline-block {
        display: inline-block !important;
    }
    
    .visible-xxs-table {
        display: table !important;
    }
}

@media only screen and (max-width: 510px) {
    #datagrid .datagrid-table-view-day table.datagrid-body-view-day tbody .imputation-toolbar .btn-radio-quota-group > span .btn-radio-quota {
        padding-left: 17px;
        background-size: 15px;
    }
}

@media only screen and (max-width: 340px) {
    h1 {
        margin-top: 0;
    }
}




