<button type="button" class="btn btn-default"
    title="Moins"
    ng-click="minusQuota()"
    ng-disabled="imputationValue === '0.00'">
    <span class="glyphicon glyphicon-minus"></span>
</button>
<div class="progress">
  <div class="progress-bar" 
       role="progressbar" 
       aria-valuenow="{{progressValue}}" 
       aria-valuemin="0" 
       aria-valuemax="100" 
       ng-style="progressValueStyle">
    {{imputationValue}}
  </div>
</div>
<button type="button" class="btn btn-default"
    title="Plus"
    ng-click="plusQuota()"
    ng-disabled="imputationValue === '1.00'">
    <span class="glyphicon glyphicon-plus"></span>
</button>