<button type="button" class="btn btn-default"
    title="Moins"
    ng-click="minusQuota()"
    ng-disabled="quota === 0">
    <span class="glyphicon glyphicon-minus" />
</button>
<div class="progress">
  <div class="progress-bar" 
       role="progressbar" 
       aria-valuenow="{{progressValue}}" 
       aria-valuemin="0" 
       aria-valuemax="100" 
       ng-style="progressValueStyle">
    {{progressLabel}}
  </div>
</div>
<button type="button" class="btn btn-default"
    title="Plus"
    ng-click="plusQuota()"
    ng-disabled="quota === 1">
    <span class="glyphicon glyphicon-plus" />
</button>
